/*#back-image-container {
    background-image: url(../img/imgfondo.jpg);
    background-attachment: fixed;
    background-color: #cccccc;
    width: auto;
    height: 400px;
    filter: blur(8px);
    transform:scale(1.1);
}*/

/* Position text in the middle of the page/image 
.filtro-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}*/




/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 200px;
    background-image: url(../img/imgfondo.jpg);
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
}
h2 {
    margin-top:20px;
}